<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %C{1} (%F:%L) - %m%n" />
			<!-- <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t]
				%c:%M(%L) - %msg%n" /> -->
		</Console>
	</Appenders>
	<Loggers>
		<Root level="WARN">
			<AppenderRef ref="Console" />
		</Root>
		<!-- our loggers below -->
		<Logger name="com.es.cassandra" level="DEBUG"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>
